body{
    overflow: auto;
}
@media (min-width:1000px){
.item:hover{
    color: #009ad8 !important;
    border-color: #009ad8 !important;
}
.item:hover a{
    color: #009ad8 !important;
}
.nav-item a{
    transition: all .45;
    -webkit-transition: all .45;
    -moz-transition: all .45;
    -ms-transition: all .45;
    -o-transition: all .45;
}
.nav-item{
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all .5s ;
    -webkit-transition: all .5s ;
    -moz-transition: all .5s ;
    -ms-transition: all .5s ;
    -o-transition: all .5s ;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 130%;
    height: 30px;
     display: flex;
     justify-content: center;
    align-items: center;
}
.home{
    color: #009ad8 !important;
    border: 2px solid #009ad8;
    border-radius: 30px;
    width: 130%;
    height: 30px;
}
.date{
margin-left: 70% !important;
}

}
.home a{
    color: #009ad8 !important;}

    @media(max-width: 1000px){
        .img1{
            margin-top:10px;
        }
        .shower{
            display: block !important;
        }
        .shower div{
            width: 100% !important;
            height: 40% !important;
} 
        .shower{
            background-color: transparent  !important;
        }
        .taker{
          width: 90% !important;
          padding: 20px !important;
        }
        .section{
            height: 280% !important;
        }
        .input1{
            height: 3% !important;
    }
    .btn1{
        width: 13% !important;
        left: 79% !important;
    }
    .item1{
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
         border-bottom-left-radius: 0% !important;
    }
    .item3{
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2% ;
        border-top-right-radius: 0% !important; 
    }
    .date{
        margin-left:72%;
    }
.footer{
    display: none;
}

}
.loader{
    background-color:#262936 ;
}
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.heado{

    width: 100%;
    height: 100%;
    background-color:#262936 ;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 9999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



